{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="container">
        <div style="background-color: white" class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <img src="../static/eclub_logo.jpg" class="img-responsive"/>
            </div>
            <div class="col-md-8">
                <h1>eClub presence logger signup</h1>
            </div>
        </div>
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for cat, msg in messages %}
                        <div class="alert alert-{{ cat }}"><strong>{{ msg }}</strong></div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {{ wtf.quick_form(form, button_map={'submit':'primary btn-lg'}) }}
        </div>
        <img src="../static/im_watching_you.jpg" class="img-responsive center-block"/>
    </div>
{% endblock %}